<div class="competition-promo vpad--xxxxl">
  <div class="competition-promo__content">
    <div class="container container--xl">
      <div class="text--center">
        <h2 class="title title--xxl">Win big</h2>
        <div class="container container--no-padding container--lg">
          <p class="text--lg vpad--xxs">Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
          <div class="space--sm"></div>
          <a href="{{site.baseurl}}/competition" class="btn btn--orange">Enter now</a>
        </div>
      </div>
    </div>
  </div>
</div>